---
swagger: "2.0"
info:
  description: "### Authorization\n\nThe Looker API uses Looker **API3** credentials\
    \ for authorization and access control. Looker admins can\ncreate API3 credentials\
    \ on Looker's **Admin/Users** page. Pass API3 credentials to the **/login** endpoint\
    \ to\nobtain a temporary access_token. Include that access_token in the Authorization\
    \ header of Looker API requests.\nFor details, see [Looker API Authorization](https://looker.com/docs/r/api/authorization)\n\
    \n### Client SDKs\n\nThe Looker API is a RESTful system that should be usable\
    \ by any programming language capable of making\nHTTPS requests. Client SDKs for\
    \ a variety of programming languages can be generated from the Looker API's Swagger\n\
    JSON metadata to streamline use of the Looker API in your applications. A client\
    \ SDK for Ruby is available\nas an example. For more information, see [Looker\
    \ API Client SDKs](https://looker.com/docs/r/api/client_sdks)\n\n### Try It Out!\n\
    \nThe 'api-docs' page served by the Looker instance includes 'Try It Out!' buttons\
    \ for each API method. After logging\nin with API3 credentials, you can use the\
    \ \"Try It Out!\" buttons to call the API directly from the documentation\npage\
    \ to interactively explore API features and responses.\n\n### Versioning\n\nFuture\
    \ releases of Looker will expand this API release-by-release to securely expose\
    \ more and more of the core\npower of Looker to API client applications. API endpoints\
    \ marked as \"beta\" may receive breaking changes without\nwarning. Stable (non-beta)\
    \ API endpoints should not receive breaking changes in future releases.\nFor more\
    \ information, see [Looker API Versioning](https://looker.com/docs/r/api/versioning)\n"
  version: "3.0.0"
  title: "Looker API 3.0 Reference"
  contact:
    name: "Looker Team"
    url: "https://looker.com"
    email: "support@looker.com"
  license:
    name: "EULA"
    url: "https://spireon.looker.com/eula"
  x-looker-release-version: "6.10.9"
host: "spireon.looker.com:19999"
basePath: "/api/3.0"
tags:
- name: "ApiAuth"
  description: "API Authentication"
- name: "Auth"
  description: "Manage User Authentication Configuration"
- name: "Config"
  description: "Manage General Configuration"
- name: "Connection"
  description: "Manage Database Connections"
- name: "Content"
  description: "Manage Content"
- name: "Dashboard"
  description: "Manage Dashboards"
- name: "DataAction"
  description: "Run Data Actions"
- name: "Datagroup"
  description: "Manage Datagroups"
- name: "Group"
  description: "Manage Groups"
- name: "Homepage"
  description: "Manage Homepage"
- name: "Integration"
  description: "Manage Integrations"
- name: "Look"
  description: "Run and Manage Looks"
- name: "LookmlModel"
  description: "Manage LookML Models"
- name: "Project"
  description: "Manage Projects"
- name: "Query"
  description: "Run and Manage Queries"
- name: "RenderTask"
  description: "Manage Render Tasks"
- name: "Role"
  description: "Manage Roles"
- name: "RunningQueries"
  description: "Manage Running Queries"
- name: "ScheduledPlan"
  description: "Manage Scheduled Plans"
- name: "Session"
  description: "Session Information"
- name: "Space"
  description: "Manage Spaces"
- name: "SqlQuery"
  description: "Run and Manage SQL Runner Queries"
- name: "User"
  description: "Manage Users"
- name: "UserAttribute"
  description: "Manage User Attributes"
- name: "Workspace"
  description: "Manage Workspaces"
schemes:
- "https"
consumes:
- "application/json"
produces:
- "application/json"
paths:
  /backup_configuration:
    get:
      tags:
      - "Config"
      summary: "Get Backup Configuration"
      description: "### Get the current Looker internal database backup configuration.\n"
      operationId: "backup_configuration"
      parameters: []
      responses:
        200:
          description: "Current Backup Configuration"
          schema:
            $ref: "#/definitions/BackupConfiguration"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Config"
      x-looker-status: "stable"
    patch:
      tags:
      - "Config"
      summary: "Update Backup Configuration"
      description: "### Update the Looker internal database backup configuration.\n"
      operationId: "update_backup_configuration"
      parameters:
      - in: "body"
        name: "body"
        description: "Options for Backup Configuration"
        required: true
        schema:
          $ref: "#/definitions/BackupConfiguration"
      responses:
        200:
          description: "New state for specified model set."
          schema:
            $ref: "#/definitions/BackupConfiguration"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
        422:
          description: "Validation Error"
          schema:
            $ref: "#/definitions/ValidationError"
      x-swagger-router-controller: "Config"
      x-looker-status: "stable"
  /connections:
    get:
      tags:
      - "Connection"
      summary: "Get All Connections"
      description: "### Get information about all connections.\n"
      operationId: "all_connections"
      parameters:
      - name: "fields"
        in: "query"
        description: "Requested fields."
        required: false
        type: "string"
      responses:
        200:
          description: "Connection"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/DBConnection"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Connection"
      x-looker-status: "stable"
    post:
      tags:
      - "Connection"
      summary: "Create Connection"
      description: "### Create a connection using the specified configuration.\n"
      operationId: "create_connection"
      parameters:
      - in: "body"
        name: "body"
        description: "Connection"
        required: false
        schema:
          $ref: "#/definitions/DBConnection"
      responses:
        200:
          description: "Connection"
          schema:
            $ref: "#/definitions/DBConnection"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
        409:
          description: "Resource Already Exists"
          schema:
            $ref: "#/definitions/Error"
        422:
          description: "Validation Error"
          schema:
            $ref: "#/definitions/ValidationError"
      x-swagger-router-controller: "Connection"
      x-looker-status: "stable"
  /connections/test:
    put:
      tags:
      - "Connection"
      summary: "Test Connection Configuration"
      description: "### Test a connection configuration.\n\nNote that a connection's\
        \ 'dialect' property has a 'connection_tests' property that lists the\nspecific\
        \ types of tests that the connection supports.\n\nThis API is rate limited.\n\
        \nUnsupported tests in the request will be ignored.\n"
      operationId: "test_connection_config"
      parameters:
      - in: "body"
        name: "body"
        description: "Connection"
        required: false
        schema:
          $ref: "#/definitions/DBConnection"
      - name: "tests"
        in: "query"
        description: "Array of names of tests to run"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
      responses:
        200:
          description: "Test results"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/DBConnectionTestResult"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
        429:
          description: "Too Many Requests"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Connection"
      x-looker-status: "stable"
  /connections/{connection_name}:
    get:
      tags:
      - "Connection"
      summary: "Get Connection"
      description: "### Get information about a connection.\n"
      operationId: "connection"
      parameters:
      - name: "connection_name"
        in: "path"
        description: "Name of connection"
        required: true
        type: "string"
      - name: "fields"
        in: "query"
        description: "Requested fields."
        required: false
        type: "string"
      responses:
        200:
          description: "Connection"
          schema:
            $ref: "#/definitions/DBConnection"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Connection"
      x-looker-status: "stable"
    delete:
      tags:
      - "Connection"
      summary: "Delete Connection"
      description: "### Delete a connection.\n"
      operationId: "delete_connection"
      parameters:
      - name: "connection_name"
        in: "path"
        description: "Name of connection"
        required: true
        type: "string"
      responses:
        204:
          description: "Successfully deleted."
          schema:
            type: "string"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Connection"
      x-looker-status: "stable"
    patch:
      tags:
      - "Connection"
      summary: "Update Connection"
      description: "### Update a connection using the specified configuration.\n"
      operationId: "update_connection"
      parameters:
      - name: "connection_name"
        in: "path"
        description: "Name of connection"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "Connection"
        required: true
        schema:
          $ref: "#/definitions/DBConnection"
      responses:
        200:
          description: "Connection"
          schema:
            $ref: "#/definitions/DBConnection"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
        422:
          description: "Validation Error"
          schema:
            $ref: "#/definitions/ValidationError"
      x-swagger-router-controller: "Connection"
      x-looker-status: "stable"
  /connections/{connection_name}/connection_override/{override_context}:
    delete:
      tags:
      - "Connection"
      summary: "Delete Connection Override"
      description: "### Delete a connection override.\n"
      operationId: "delete_connection_override"
      parameters:
      - name: "connection_name"
        in: "path"
        description: "Name of connection"
        required: true
        type: "string"
      - name: "override_context"
        in: "path"
        description: "Context of connection override"
        required: true
        type: "string"
      responses:
        204:
          description: "Successfully deleted."
          schema:
            type: "string"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
        422:
          description: "Validation Error"
          schema:
            $ref: "#/definitions/ValidationError"
      x-swagger-router-controller: "Connection"
      x-looker-status: "stable"
  /connections/{connection_name}/test:
    put:
      tags:
      - "Connection"
      summary: "Test Connection"
      description: "### Test an existing connection.\n\nNote that a connection's 'dialect'\
        \ property has a 'connection_tests' property that lists the\nspecific types\
        \ of tests that the connection supports.\n\nThis API is rate limited.\n\n\
        Unsupported tests in the request will be ignored.\n"
      operationId: "test_connection"
      parameters:
      - name: "connection_name"
        in: "path"
        description: "Name of connection"
        required: true
        type: "string"
      - name: "tests"
        in: "query"
        description: "Array of names of tests to run"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
      responses:
        200:
          description: "Test results"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/DBConnectionTestResult"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
        429:
          description: "Too Many Requests"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Connection"
      x-looker-status: "stable"
  /content_favorite:
    post:
      tags:
      - "Content"
      summary: "Create Favorite Content"
      description: "### Create favorite content"
      operationId: "create_content_favorite"
      parameters:
      - in: "body"
        name: "body"
        description: "Favorite Content"
        required: false
        schema:
          $ref: "#/definitions/ContentFavorite"
      responses:
        200:
          description: "Favorite Content"
          schema:
            $ref: "#/definitions/ContentFavorite"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
        409:
          description: "Resource Already Exists"
          schema:
            $ref: "#/definitions/Error"
        422:
          description: "Validation Error"
          schema:
            $ref: "#/definitions/ValidationError"
      x-swagger-router-controller: "Content"
      x-looker-status: "beta"
  /content_favorite/search:
    get:
      tags:
      - "Content"
      summary: "Search Favorite Contents"
      description: "### Search Favorite Content\n"
      operationId: "search_content_favorites"
      parameters:
      - name: "user_id"
        in: "query"
        description: "Match User Id"
        required: false
        type: "integer"
        format: "int64"
      - name: "limit"
        in: "query"
        description: "Number of results to return. (used with offset)"
        required: false
        type: "integer"
        format: "int64"
      - name: "offset"
        in: "query"
        description: "Number of results to skip before returning any. (used with limit)"
        required: false
        type: "integer"
        format: "int64"
      - name: "sorts"
        in: "query"
        description: "Fields to sort by."
        required: false
        type: "string"
      - name: "fields"
        in: "query"
        description: "Requested fields."
        required: false
        type: "string"
      responses:
        200:
          description: "Favorite Content"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/ContentFavorite"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Content"
      x-looker-status: "beta"
  /content_favorite/{content_favorite_id}:
    get:
      tags:
      - "Content"
      summary: "Get Favorite Content"
      description: "### Get favorite content by its id"
      operationId: "content_favorite"
      parameters:
      - name: "content_favorite_id"
        in: "path"
        description: "Id of favorite content"
        required: true
        type: "integer"
        format: "int64"
      - name: "fields"
        in: "query"
        description: "Requested fields."
        required: false
        type: "string"
      responses:
        200:
          description: "Favorite Content"
          schema:
            $ref: "#/definitions/ContentFavorite"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Content"
      x-looker-status: "beta"
    delete:
      tags:
      - "Content"
      summary: "Delete Favorite Content"
      description: "### Delete favorite content"
      operationId: "delete_content_favorite"
      parameters:
      - name: "content_favorite_id"
        in: "path"
        description: "Id of favorite content"
        required: true
        type: "integer"
        format: "int64"
      responses:
        204:
          description: "Successfully deleted."
          schema:
            type: "string"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Content"
      x-looker-status: "beta"
  /content_metadata:
    get:
      tags:
      - "Content"
      summary: "Get All Content Metadatas"
      description: "### Get information about all content metadata in a space.\n"
      operationId: "all_content_metadatas"
      parameters:
      - name: "parent_id"
        in: "query"
        description: "Parent space of content."
        required: true
        type: "integer"
        format: "int64"
      - name: "fields"
        in: "query"
        description: "Requested fields."
        required: false
        type: "string"
      responses:
        200:
          description: "Content Metadata"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/ContentMeta"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Content"
      x-looker-status: "beta"
  /content_metadata/{content_metadata_id}:
    get:
      tags:
      - "Content"
      summary: "Get Content Metadata"
      description: "### Get information about an individual content metadata record.\n"
      operationId: "content_metadata"
      parameters:
      - name: "content_metadata_id"
        in: "path"
        description: "Id of content metadata"
        required: true
        type: "integer"
        format: "int64"
      - name: "fields"
        in: "query"
        description: "Requested fields."
        required: false
        type: "string"
      responses:
        200:
          description: "Content Metadata"
          schema:
            $ref: "#/definitions/ContentMeta"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Content"
      x-looker-status: "beta"
    patch:
      tags:
      - "Content"
      summary: "Update Content Metadata"
      description: "### Move a piece of content.\n"
      operationId: "update_content_metadata"
      parameters:
      - name: "content_metadata_id"
        in: "path"
        description: "Id of content metadata"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "body"
        description: "Content Metadata"
        required: true
        schema:
          $ref: "#/definitions/ContentMeta"
      responses:
        200:
          description: "Content Metadata"
          schema:
            $ref: "#/definitions/ContentMeta"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
        422:
          description: "Validation Error"
          schema:
            $ref: "#/definitions/ValidationError"
      x-swagger-router-controller: "Content"
      x-looker-status: "beta"
  /content_metadata_access:
    get:
      tags:
      - "Content"
      summary: "Get All Content Metadata Accesss"
      description: "### All content metadata access records for a content metadata\
        \ item.\n"
      operationId: "all_content_metadata_accesss"
      parameters:
      - name: "content_metadata_id"
        in: "query"
        description: "Id of content metadata"
        required: false
        type: "integer"
        format: "int64"
      - name: "fields"
        in: "query"
        description: "Requested fields."
        required: false
        type: "string"
      responses:
        200:
          description: "Content Metadata Access"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/ContentMetaGroupUser"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Content"
      x-looker-status: "beta"
    post:
      tags:
      - "Content"
      summary: "Create Content Metadata Access"
      description: "### Create content metadata access.\n"
      operationId: "create_content_metadata_access"
      parameters:
      - in: "body"
        name: "body"
        description: "Content Metadata Access"
        required: false
        schema:
          $ref: "#/definitions/ContentMetaGroupUser"
      responses:
        200:
          description: "Content Metadata Access"
          schema:
            $ref: "#/definitions/ContentMetaGroupUser"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
        409:
          description: "Resource Already Exists"
          schema:
            $ref: "#/definitions/Error"
        422:
          description: "Validation Error"
          schema:
            $ref: "#/definitions/ValidationError"
      x-swagger-router-controller: "Content"
      x-looker-status: "beta"
  /content_metadata_access/{content_metadata_access_id}:
    put:
      tags:
      - "Content"
      summary: "Update Content Metadata Access"
      description: "### Update type of access for content metadata.\n"
      operationId: "update_content_metadata_access"
      parameters:
      - name: "content_metadata_access_id"
        in: "path"
        description: "Id of content metadata access"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "body"
        description: "Content Metadata Access"
        required: true
        schema:
          $ref: "#/definitions/ContentMetaGroupUser"
      responses:
        200:
          description: "Content Metadata Access"
          schema:
            $ref: "#/definitions/ContentMetaGroupUser"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
        422:
          description: "Validation Error"
          schema:
            $ref: "#/definitions/ValidationError"
      x-swagger-router-controller: "Content"
      x-looker-status: "beta"
    delete:
      tags:
      - "Content"
      summary: "Delete Content Metadata Access"
      description: "### Remove content metadata access.\n"
      operationId: "delete_content_metadata_access"
      parameters:
      - name: "content_metadata_access_id"
        in: "path"
        description: "Id of content metadata access"
        required: true
        type: "integer"
        format: "int64"
      responses:
        204:
          description: "Successfully deleted."
          schema:
            type: "string"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Content"
      x-looker-status: "beta"
  /content_view/search:
    get:
      tags:
      - "Content"
      summary: "Search Content Views"
      description: "### Search Content View\n"
      operationId: "search_content_views"
      parameters:
      - name: "view_count"
        in: "query"
        description: "Match view count"
        required: false
        type: "integer"
        format: "int64"
      - name: "group_id"
        in: "query"
        description: "Match Group Id"
        required: false
        type: "integer"
        format: "int64"
      - name: "look_id"
        in: "query"
        description: "Match look_id"
        required: false
        type: "string"
      - name: "dashboard_id"
        in: "query"
        description: "Match dashboard_id"
        required: false
        type: "string"
      - name: "content_metadata_id"
        in: "query"
        description: "Match content metadata id"
        required: false
        type: "integer"
        format: "int64"
      - name: "start_of_week_date"
        in: "query"
        description: "Match start of week date"
        required: false
        type: "string"
      - name: "all_time"
        in: "query"
        description: "True if only all time view records should be returned"
        required: false
        type: "boolean"
      - name: "user_id"
        in: "query"
        description: "Match user id"
        required: false
        type: "integer"
        format: "int64"
      - name: "limit"
        in: "query"
        description: "Number of results to return. Use with `offset` to manage pagination\
          \ of results"
        required: false
        type: "integer"
        format: "int64"
      - name: "offset"
        in: "query"
        description: "Number of results to skip before returning data"
        required: false
        type: "integer"
        format: "int64"
      - name: "sorts"
        in: "query"
        description: "Fields to sort by"
        required: false
        type: "string"
      - name: "fields"
        in: "query"
        description: "Requested fields."
        required: false
        type: "string"
      responses:
        200:
          description: "Content View"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/ContentView"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Content"
      x-looker-status: "beta"
  /dashboards:
    get:
      tags:
      - "Dashboard"
      summary: "Get All Dashboards"
      description: "### Get information about all active dashboards.\n\nReturns an\
        \ array of **abbreviated dashboard objects**. Dashboards marked as deleted\
        \ are excluded from this list.\n\nGet the **full details** of a specific dashboard\
        \ by id with [Dashboard](#!/Dashboard/dashboard)\n\nFind **deleted dashboards**\
        \ with [Search Dashboards](#!/Dashboard/search_dashboards)\n"
      operationId: "all_dashboards"
      parameters:
      - name: "fields"
        in: "query"
        description: "Requested fields."
        required: false
        type: "string"
      responses:
        200:
          description: "dashboards"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/DashboardBase"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Dashboard"
      x-looker-status: "beta"
    post:
      tags:
      - "Dashboard"
      summary: "Create Dashboard"
      description: "### Create a dashboard with the specified information\n\nCreates\
        \ a new dashboard object, returning the dashboard details, including the created\
        \ id.\n\n**Update** an existing dashboard with [Update Dashboard](#!/Dashboard/update_dashboard)\n\
        \n**Permanently delete** an existing dashboard with [Delete Dashboard](#!/Dashboard/delete_dashboard)\n"
      operationId: "create_dashboard"
      parameters:
      - in: "body"
        name: "body"
        description: "Dashboard"
        required: false
        schema:
          $ref: "#/definitions/Dashboard"
      responses:
        200:
          description: "Dashboard"
          schema:
            $ref: "#/definitions/Dashboard"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
        409:
          description: "Resource Already Exists"
          schema:
            $ref: "#/definitions/Error"
        422:
          description: "Validation Error"
          schema:
            $ref: "#/definitions/ValidationError"
      x-swagger-router-controller: "Dashboard"
      x-looker-status: "beta"
  /dashboards/search:
    get:
      tags:
      - "Dashboard"
      summary: "Search Dashboards"
      description: "### Search all dashboards for matching criteria.\n\nReturns an\
        \ **array of dashboard objects** that match the specified search criteria.\n\
        \nThe parameters `limit`, and `offset` are recommended for \"paging\" the\
        \ returned results.\n\nGet a **single dashboard** by id with [Dashboard](#!/Dashboard/dashboard)\n"
      operationId: "search_dashboards"
      parameters:
      - name: "fields"
        in: "query"
        description: "Requested fields."
        required: false
        type: "string"
      - name: "id"
        in: "query"
        description: "Match dashboard id."
        required: false
        type: "integer"
        format: "int64"
      - name: "slug"
        in: "query"
        description: "Match dashboard slug."
        required: false
        type: "string"
      - name: "page"
        in: "query"
        description: "Requested page."
        required: false
        type: "integer"
        format: "int64"
      - name: "per_page"
        in: "query"
        description: "Results per page."
        required: false
        type: "integer"
        format: "int64"
      - name: "limit"
        in: "query"
        description: "Number of results to return. (used with offset and takes priority\
          \ over page and per_page)"
        required: false
        type: "integer"
        format: "int64"
      - name: "offset"
        in: "query"
        description: "Number of results to skip before returning any. (used with limit\
          \ and takes priority over page and per_page)"
        required: false
        type: "integer"
        format: "int64"
      - name: "sorts"
        in: "query"
        description: "Fields to sort by."
        required: false
        type: "string"
      - name: "title"
        in: "query"
        description: "Match Dashboard title."
        required: false
        type: "string"
      - name: "description"
        in: "query"
        description: "Match Dashboard description."
        required: false
        type: "string"
      - name: "content_favorite_id"
        in: "query"
        description: "Filter on a content favorite id."
        required: false
        type: "integer"
        format: "int64"
      - name: "space_id"
        in: "query"
        description: "Filter on a particular space."
        required: false
        type: "string"
      - name: "deleted"
        in: "query"
        description: "Filter on dashboards deleted status."
        required: false
        type: "string"
      - name: "user_id"
        in: "query"
        description: "Filter on dashboards created by a particular user."
        required: false
        type: "string"
      - name: "view_count"
        in: "query"
        description: "Filter on a particular value of view_count"
        required: false
        type: "string"
      responses:
        200:
          description: "dashboards"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Dashboard"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Dashboard"
      x-looker-status: "beta"
  /dashboards/{dashboard_id}:
    get:
      tags:
      - "Dashboard"
      summary: "Get Dashboard"
      description: "### Get information about the dashboard with the specified id\n\
        \nReturns the full details of the identified dashboard object\n\nGet a **summary\
        \ list** of all active dashboards with [All Dashboards](#!/Dashboard/all_dashboards)\n\
        \n**Search** for dashboards with [Search Dashboards](#!/Dashboard/search_dashboards)\n"
      operationId: "dashboard"
      parameters:
      - name: "dashboard_id"
        in: "path"
        description: "Id of dashboard"
        required: true
        type: "string"
      - name: "fields"
        in: "query"
        description: "Requested fields."
        required: false
        type: "string"
      responses:
        200:
          description: "Dashboard"
          schema:
            $ref: "#/definitions/Dashboard"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Dashboard"
      x-looker-status: "beta"
    delete:
      tags:
      - "Dashboard"
      summary: "Delete Dashboard"
      description: "### Delete the dashboard with the specified id\n\nPermanently\
        \ **deletes** a dashboard. (The dashboard cannot be recovered after this operation.)\n\
        \n\"Soft\" delete or hide a dashboard by setting its `deleted` status to `True`\
        \ with [Update Dashboard](#!/Dashboard/update_dashboard).\n\nNote: When a\
        \ dashboard is deleted in the UI, it is soft deleted. Use this API call to\
        \ permanently remove it, if desired.\n"
      operationId: "delete_dashboard"
      parameters:
      - name: "dashboard_id"
        in: "path"
        description: "Id of dashboard"
        required: true
        type: "string"
      responses:
        204:
          description: "Successfully deleted."
          schema:
            type: "string"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
        405:
          description: "Resource Can't Be Modified"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Dashboard"
      x-looker-status: "beta"
    patch:
      tags:
      - "Dashboard"
      summary: "Update Dashboard"
      description: "### Update the dashboard with the specified id\n\nChanges simple\
        \ (scalar) properties of the dashboard.\n"
      operationId: "update_dashboard"
      parameters:
      - name: "dashboard_id"
        in: "path"
        description: "Id of dashboard"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "Dashboard"
        required: true
        schema:
          $ref: "#/definitions/Dashboard"
      responses:
        200:
          description: "Dashboard"
          schema:
            $ref: "#/definitions/Dashboard"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
        405:
          description: "Resource Can't Be Modified"
          schema:
            $ref: "#/definitions/Error"
        422:
          description: "Validation Error"
          schema:
            $ref: "#/definitions/ValidationError"
      x-swagger-router-controller: "Dashboard"
      x-looker-status: "beta"
  /dashboards/{dashboard_id}/prefetch:
    get:
      tags:
      - "Dashboard"
      summary: "Get Dashboard Prefetch"
      description: "### Get a prefetch for a dashboard with the specified information.\n\
        \n**Deprecated**\nUse [DataGroups](#!/3.1/Datagroup) to manage cache invalidation\
        \ of groups of queries.\n"
      operationId: "dashboard_prefetch"
      parameters:
      - name: "dashboard_id"
        in: "path"
        description: "Id of dashboard"
        required: true
        type: "string"
      - name: "dashboard_filters"
        in: "query"
        description: "JSON encoded string of Dashboard filters that were applied to\
          \ prefetch"
        required: false
        type: "array"
        items:
          $ref: "#/definitions/PrefetchDashboardFilterValue"
        collectionFormat: "csv"
      responses:
        200:
          description: "Prefetch"
          schema:
            $ref: "#/definitions/Prefetch"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      deprecated: true
      x-swagger-router-controller: "Dashboard"
      x-looker-status: "deprecated"
    post:
      tags:
      - "Dashboard"
      summary: "Create Dashboard Prefetch"
      description: "### Create a prefetch for a dashboard with the specified information.\n\
        \n**Deprecated**\nUse [DataGroups](#!/3.1/Datagroup) to manage cache invalidation\
        \ of groups of queries.\n"
      operationId: "create_dashboard_prefetch"
      parameters:
      - name: "dashboard_id"
        in: "path"
        description: "Id of dashboard"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "Parameters for prefetch request"
        required: false
        schema:
          $ref: "#/definitions/PrefetchDashboardRequest"
      responses:
        200:
          description: "Newly created Prefetch"
          schema:
            $ref: "#/definitions/PrefetchDashboardRequest"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
        409:
          description: "Resource Already Exists"
          schema:
            $ref: "#/definitions/Error"
        422:
          description: "Validation Error"
          schema:
            $ref: "#/definitions/ValidationError"
      deprecated: true
      x-swagger-router-controller: "Dashboard"
      x-looker-status: "deprecated"
  /dashboards/{lookml_dashboard_id}/import/{space_id}:
    post:
      tags:
      - "Dashboard"
      summary: "Import LookML Dashboard"
      description: "### Import a LookML dashboard to a space as a UDD\nCreates a UDD\
        \ (a dashboard which exists in the Looker database rather than as a LookML\
        \ file) from the LookML dashboard\nand puts it in the space specified. The\
        \ created UDD will have a lookml_link_id which links to the original LookML\
        \ dashboard.\n\nTo give the imported dashboard specify a (e.g. title: \"my\
        \ title\") in the body of your request, otherwise the imported\ndashboard\
        \ will have the same title as the original LookML dashboard.\n\nFor this operation\
        \ to succeed the user must have permission to see the LookML dashboard in\
        \ question, and have permission to\ncreate content in the space the dashboard\
        \ is being imported to.\n\n**Sync** a linked UDD with [Sync LookML Dashboard]\
        \ (#!/Dashboard/sync_lookml_dashboard)\n**Unlink** a linked UDD by setting\
        \ lookml_link_id to null with [Update Dashboard](#!/Dashboard/update_dashboard)\n"
      operationId: "import_lookml_dashboard"
      parameters:
      - name: "lookml_dashboard_id"
        in: "path"
        description: "Id of LookML dashboard"
        required: true
        type: "string"
      - name: "space_id"
        in: "path"
        description: "Id of space to import the dashboard to"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "Dashboard"
        required: false
        schema:
          $ref: "#/definitions/Dashboard"
      - name: "raw_locale"
        in: "query"
        description: "If true, and this dashboard is localized, export it with the\
          \ raw keys, not localized."
        required: false
        type: "boolean"
      responses:
        200:
          description: "Dashboard"
          schema:
            $ref: "#/definitions/Dashboard"
        201:
          description: "dashboard"
          schema:
            $ref: "#/definitions/Dashboard"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
        422:
          description: "Validation Error"
          schema:
            $ref: "#/definitions/ValidationError"
      x-swagger-router-controller: "Dashboard"
      x-looker-status: "beta"
  /dashboards/{lookml_dashboard_id}/sync:
    patch:
      tags:
      - "Dashboard"
      summary: "Sync LookML Dashboard"
      description: "### Update all linked dashboards to match the specified LookML\
        \ dashboard.\n\nAny UDD (a dashboard which exists in the Looker database rather\
        \ than as a LookML file) which has a lookml_link_id\nwhich specifies the LookML\
        \ dashboard's id will be updated so that it matches the current state of the\
        \ LookML dashboard.\n\nFor this operation to succeed the user must have permission\
        \ to view the LookML dashboard, and only linked dashboards\nthat the user\
        \ has permission to update will be synced.\n\nTo **link** or **unlink** a\
        \ UDD set the lookml_link_id with [Update Dashboard](#!/Dashboard/update_dashboard)\n"
      operationId: "sync_lookml_dashboard"
      parameters:
      - name: "lookml_dashboard_id"
        in: "path"
        description: "Id of LookML dashboard"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "Dashboard"
        required: true
        schema:
          $ref: "#/definitions/Dashboard"
      - name: "raw_locale"
        in: "query"
        description: "If true, and this dashboard is localized, export it with the\
          \ raw keys, not localized."
        required: false
        type: "boolean"
      responses:
        200:
          description: "updated dashboard ids"
          schema:
            type: "array"
            items:
              type: "integer"
              format: "int64"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
        422:
          description: "Validation Error"
          schema:
            $ref: "#/definitions/ValidationError"
      x-swagger-router-controller: "Dashboard"
      x-looker-status: "beta"
  /data_actions:
    post:
      tags:
      - "DataAction"
      summary: "Send a Data Action"
      description: "Perform a data action. The data action object can be obtained\
        \ from query results, and used to perform an arbitrary action."
      operationId: "perform_data_action"
      parameters:
      - in: "body"
        name: "body"
        description: "Data Action Request"
        required: true
        schema:
          $ref: "#/definitions/DataActionRequest"
      responses:
        200:
          description: "Data Action Response"
          schema:
            $ref: "#/definitions/DataActionResponse"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "DataAction"
      x-looker-status: "beta"
  /data_actions/form:
    post:
      tags:
      - "DataAction"
      summary: "Fetch Remote Data Action Form"
      description: "For some data actions, the remote server may supply a form requesting\
        \ further user input. This endpoint takes a data action, asks the remote server\
        \ to generate a form for it, and returns that form to you for presentation\
        \ to the user."
      operationId: "fetch_remote_data_action_form"
      parameters:
      - in: "body"
        name: "body"
        description: "Data Action Request"
        required: true
        schema:
          type: "object"
          additionalProperties:
            type: "string"
      responses:
        200:
          description: "Data Action Form"
          schema:
            $ref: "#/definitions/DataActionForm"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
        422:
          description: "Validation Error"
          schema:
            $ref: "#/definitions/ValidationError"
      x-swagger-router-controller: "DataAction"
      x-looker-status: "beta"
  /datagroups:
    get:
      tags:
      - "Datagroup"
      summary: "Get All Datagroups"
      description: "### Get information about all datagroups.\n"
      operationId: "all_datagroups"
      parameters: []
      responses:
        200:
          description: "Datagroup"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Datagroup"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Datagroup"
      x-looker-status: "beta"
  /datagroups/{datagroup_id}:
    get:
      tags:
      - "Datagroup"
      summary: "Get Datagroup"
      description: "### Get information about a datagroup.\n"
      operationId: "datagroup"
      parameters:
      - name: "datagroup_id"
        in: "path"
        description: "ID of datagroup."
        required: true
        type: "string"
      responses:
        200:
          description: "Datagroup"
          schema:
            $ref: "#/definitions/Datagroup"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Datagroup"
      x-looker-status: "beta"
    patch:
      tags:
      - "Datagroup"
      summary: "Update Datagroup"
      description: "### Update a datagroup using the specified params.\n"
      operationId: "update_datagroup"
      parameters:
      - name: "datagroup_id"
        in: "path"
        description: "ID of datagroup."
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "Datagroup"
        required: true
        schema:
          $ref: "#/definitions/Datagroup"
      responses:
        200:
          description: "Datagroup"
          schema:
            $ref: "#/definitions/Datagroup"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
        409:
          description: "Resource Already Exists"
          schema:
            $ref: "#/definitions/Error"
        422:
          description: "Validation Error"
          schema:
            $ref: "#/definitions/ValidationError"
      x-swagger-router-controller: "Datagroup"
      x-looker-status: "beta"
  /dialect_info:
    get:
      tags:
      - "Connection"
      summary: "Get All Dialect Infos"
      description: "### Get information about all dialects.\n"
      operationId: "all_dialect_infos"
      parameters:
      - name: "fields"
        in: "query"
        description: "Requested fields."
        required: false
        type: "string"
      responses:
        200:
          description: "Dialect Info"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/DialectInfo"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Connection"
      x-looker-status: "stable"
  /fetch_and_parse_saml_idp_metadata:
    post:
      tags:
      - "Auth"
      summary: "Parse SAML IdP Url"
      description: "### Fetch the given url and parse it as a SAML IdP metadata document\
        \ and return the result.\nNote that this requires that the url be public or\
        \ at least at a location where the Looker instance\ncan fetch it without requiring\
        \ any special authentication.\n"
      operationId: "fetch_and_parse_saml_idp_metadata"
      consumes:
      - "text/plain"
      parameters:
      - in: "body"
        name: "body"
        description: "SAML IdP metadata public url"
        required: true
        schema:
          type: "string"
      responses:
        200:
          description: "Parse result"
          schema:
            $ref: "#/definitions/SamlMetadataParseResult"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Auth"
      x-looker-status: "stable"
  /groups:
    get:
      tags:
      - "Group"
      summary: "Get All Groups"
      description: "### Get information about all groups.\n"
      operationId: "all_groups"
      parameters:
      - name: "fields"
        in: "query"
        description: "Requested fields."
        required: false
        type: "string"
      - name: "page"
        in: "query"
        description: "Requested page."
        required: false
        type: "integer"
        format: "int64"
      - name: "per_page"
        in: "query"
        description: "Results per page."
        required: false
        type: "integer"
        format: "int64"
      - name: "sorts"
        in: "query"
        description: "Fields to sort by."
        required: false
        type: "string"
      - name: "ids"
        in: "query"
        description: "Optional of ids to get specific groups."
        required: false
        type: "array"
        items:
          type: "integer"
          format: "int64"
        collectionFormat: "csv"
      - name: "content_metadata_id"
        in: "query"
        description: "Id of content metadata to which groups must have access."
        required: false
        type: "integer"
        format: "int64"
      - name: "can_add_to_content_metadata"
        in: "query"
        description: "Select only groups that either can/cannot be given access to\
          \ content."
        required: false
        type: "boolean"
      responses:
        200:
          description: "Group"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Group"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Group"
      x-looker-status: "stable"
    post:
      tags:
      - "Group"
      summary: "Create Group"
      description: "### Creates a new group (admin only).\n"
      operationId: "create_group"
      parameters:
      - in: "body"
        name: "body"
        description: "Group"
        required: false
        schema:
          $ref: "#/definitions/Group"
      - name: "fields"
        in: "query"
        description: "Requested fields."
        required: false
        type: "string"
      responses:
        200:
          description: "Group"
          schema:
            $ref: "#/definitions/Group"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
        409:
          description: "Resource Already Exists"
          schema:
            $ref: "#/definitions/Error"
        422:
          description: "Validation Error"
          schema:
            $ref: "#/definitions/ValidationError"
      x-swagger-router-controller: "Group"
      x-looker-status: "stable"
  /groups/{group_id}:
    get:
      tags:
      - "Group"
      summary: "Get Group"
      description: "### Get information about a group.\n"
      operationId: "group"
      parameters:
      - name: "group_id"
        in: "path"
        description: "Id of group"
        required: true
        type: "integer"
        format: "int64"
      - name: "fields"
        in: "query"
        description: "Requested fields."
        required: false
        type: "string"
      responses:
        200:
          description: "Group"
          schema:
            $ref: "#/definitions/Group"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Group"
      x-looker-status: "stable"
    delete:
      tags:
      - "Group"
      summary: "Delete Group"
      description: "### Deletes a group (admin only).\n"
      operationId: "delete_group"
      parameters:
      - name: "group_id"
        in: "path"
        description: "Id of group"
        required: true
        type: "integer"
        format: "int64"
      responses:
        204:
          description: "Successfully deleted."
          schema:
            type: "string"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Permission Denied"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Group"
      x-looker-status: "stable"
    patch:
      tags:
      - "Group"
      summary: "Update Group"
      description: "### Updates the a group (admin only)."
      operationId: "update_group"
      parameters:
      - name: "group_id"
        in: "path"
        description: "Id of group"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "body"
        description: "Group"
        required: true
        schema:
          $ref: "#/definitions/Group"
      - name: "fields"
        in: "query"
        description: "Requested fields."
        required: false
        type: "string"
      responses:
        200:
          description: "Group"
          schema:
            $ref: "#/definitions/Group"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
        422:
          description: "Validation Error"
          schema:
            $ref: "#/definitions/ValidationError"
      x-swagger-router-controller: "Group"
      x-looker-status: "stable"
  /groups/{group_id}/attribute_values/{user_attribute_id}:
    delete:
      tags:
      - "Group"
      summary: "Delete User Attribute Group Value"
      description: "### Remove a user attribute value from a group.\n"
      operationId: "delete_user_attribute_group_value"
      parameters:
      - name: "group_id"
        in: "path"
        description: "Id of group"
        required: true
        type: "integer"
        format: "int64"
      - name: "user_attribute_id"
        in: "path"
        description: "Id of user attribute"
        required: true
        type: "integer"
        format: "int64"
      responses:
        204:
          description: "Value successfully unset"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Group"
      x-looker-status: "stable"
    patch:
      tags:
      - "Group"
      summary: "Set User Attribute Group Value"
      description: "### Set the value of a user attribute for a group.\n\nFor information\
        \ about how user attribute values are calculated, see [Set User Attribute\
        \ Group Values](#!/UserAttribute/set_user_attribute_group_values).\n"
      operationId: "update_user_attribute_group_value"
      parameters:
      - name: "group_id"
        in: "path"
        description: "Id of group"
        required: true
        type: "integer"
        format: "int64"
      - name: "user_attribute_id"
        in: "path"
        description: "Id of user attribute"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "body"
        description: "New value for group."
        required: true
        schema:
          $ref: "#/definitions/UserAttributeGroupValue"
      responses:
        200:
          description: "Group value object."
          schema:
            $ref: "#/definitions/UserAttributeGroupValue"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Group"
      x-looker-status: "stable"
  /groups/{group_id}/groups:
    get:
      tags:
      - "Group"
      summary: "Get All Groups in Group"
      description: "### Get information about all the groups in a group\n"
      operationId: "all_group_groups"
      parameters:
      - name: "group_id"
        in: "path"
        description: "Id of group"
        required: true
        type: "integer"
        format: "int64"
      - name: "fields"
        in: "query"
        description: "Requested fields."
        required: false
        type: "string"
      responses:
        200:
          description: "All groups in group."
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Group"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Group"
      x-looker-status: "stable"
    post:
      tags:
      - "Group"
      summary: "Add a Group to Group"
      description: "### Adds a new group to a group.\n"
      operationId: "add_group_group"
      parameters:
      - name: "group_id"
        in: "path"
        description: "Id of group"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "body"
        description: "Group id to add"
        required: false
        schema:
          $ref: "#/definitions/GroupIdForGroupInclusion"
      responses:
        200:
          description: "Added group."
          schema:
            $ref: "#/definitions/Group"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Permission Denied"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Group"
      x-looker-status: "stable"
  /groups/{group_id}/groups/{deleting_group_id}:
    delete:
      tags:
      - "Group"
      summary: "Deletes a Group from Group"
      description: "### Removes a group from a group.\n"
      operationId: "delete_group_from_group"
      parameters:
      - name: "group_id"
        in: "path"
        description: "Id of group"
        required: true
        type: "integer"
        format: "int64"
      - name: "deleting_group_id"
        in: "path"
        description: "Id of group to delete"
        required: true
        type: "integer"
        format: "int64"
      responses:
        204:
          description: "Group successfully deleted"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Permission Denied"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Group"
      x-looker-status: "stable"
  /groups/{group_id}/users:
    get:
      tags:
      - "Group"
      summary: "Get All Users in Group"
      description: "### Get information about all the users directly included in a\
        \ group.\n"
      operationId: "all_group_users"
      parameters:
      - name: "group_id"
        in: "path"
        description: "Id of group"
        required: true
        type: "integer"
        format: "int64"
      - name: "fields"
        in: "query"
        description: "Requested fields."
        required: false
        type: "string"
      - name: "page"
        in: "query"
        description: "Requested page."
        required: false
        type: "integer"
        format: "int64"
      - name: "per_page"
        in: "query"
        description: "Results per page."
        required: false
        type: "integer"
        format: "int64"
      - name: "sorts"
        in: "query"
        description: "Fields to sort by."
        required: false
        type: "string"
      responses:
        200:
          description: "All users in group."
          schema:
            type: "array"
            items:
              $ref: "#/definitions/User"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Group"
      x-looker-status: "stable"
    post:
      tags:
      - "Group"
      summary: "Add a User to Group"
      description: "### Adds a new user to a group.\n"
      operationId: "add_group_user"
      parameters:
      - name: "group_id"
        in: "path"
        description: "Id of group"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "body"
        description: "User id to add"
        required: false
        schema:
          $ref: "#/definitions/GroupIdForGroupUserInclusion"
      responses:
        200:
          description: "Added user."
          schema:
            $ref: "#/definitions/User"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Permission Denied"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Group"
      x-looker-status: "stable"
  /groups/{group_id}/users/{user_id}:
    delete:
      tags:
      - "Group"
      summary: "Remove a User from Group"
      description: "### Removes a user from a group.\n"
      operationId: "delete_group_user"
      parameters:
      - name: "group_id"
        in: "path"
        description: "Id of group"
        required: true
        type: "integer"
        format: "int64"
      - name: "user_id"
        in: "path"
        description: "Id of user to remove from group"
        required: true
        type: "integer"
        format: "int64"
      responses:
        204:
          description: "User successfully removed from group"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Permission Denied"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Group"
      x-looker-status: "stable"
  /homepage_items:
    get:
      tags:
      - "Homepage"
      summary: "Get All Homepage Items"
      description: "### Get information about all homepage items.\n"
      operationId: "all_homepage_items"
      parameters:
      - name: "fields"
        in: "query"
        description: "Requested fields."
        required: false
        type: "string"
      - name: "sorts"
        in: "query"
        description: "Fields to sort by."
        required: false
        type: "string"
      - name: "homepage_section_id"
        in: "query"
        description: "Filter to a specific homepage section"
        required: false
        type: "string"
      responses:
        200:
          description: "Homepage Item"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/HomepageItem"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Homepage"
      x-looker-status: "beta"
    post:
      tags:
      - "Homepage"
      summary: "Create Homepage Item"
      description: "### Create a new homepage item.\n"
      operationId: "create_homepage_item"
      parameters:
      - in: "body"
        name: "body"
        description: "Homepage Item"
        required: false
        schema:
          $ref: "#/definitions/HomepageItem"
      - name: "fields"
        in: "query"
        description: "Requested fields."
        required: false
        type: "string"
      responses:
        200:
          description: "Homepage Item"
          schema:
            $ref: "#/definitions/HomepageItem"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
        409:
          description: "Resource Already Exists"
          schema:
            $ref: "#/definitions/Error"
        422:
          description: "Validation Error"
          schema:
            $ref: "#/definitions/ValidationError"
      x-swagger-router-controller: "Homepage"
      x-looker-status: "beta"
  /homepage_items/{homepage_item_id}:
    get:
      tags:
      - "Homepage"
      summary: "Get Homepage Item"
      description: "### Get information about a homepage item.\n"
      operationId: "homepage_item"
      parameters:
      - name: "homepage_item_id"
        in: "path"
        description: "Id of homepage item"
        required: true
        type: "integer"
        format: "int64"
      - name: "fields"
        in: "query"
        description: "Requested fields."
        required: false
        type: "string"
      responses:
        200:
          description: "Homepage Item"
          schema:
            $ref: "#/definitions/HomepageItem"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Homepage"
      x-looker-status: "beta"
    delete:
      tags:
      - "Homepage"
      summary: "Delete Homepage Item"
      description: "### Delete a homepage item.\n"
      operationId: "delete_homepage_item"
      parameters:
      - name: "homepage_item_id"
        in: "path"
        description: "Id of homepage_item"
        required: true
        type: "integer"
        format: "int64"
      responses:
        204:
          description: "Successfully deleted."
          schema:
            type: "string"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Homepage"
      x-looker-status: "beta"
    patch:
      tags:
      - "Homepage"
      summary: "Update Homepage Item"
      description: "### Update a homepage item definition.\n"
      operationId: "update_homepage_item"
      parameters:
      - name: "homepage_item_id"
        in: "path"
        description: "Id of homepage item"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "body"
        description: "Homepage Item"
        required: true
        schema:
          $ref: "#/definitions/HomepageItem"
      - name: "fields"
        in: "query"
        description: "Requested fields."
        required: false
        type: "string"
      responses:
        200:
          description: "Homepage Item"
          schema:
            $ref: "#/definitions/HomepageItem"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
        422:
          description: "Validation Error"
          schema:
            $ref: "#/definitions/ValidationError"
      x-swagger-router-controller: "Homepage"
      x-looker-status: "beta"
  /homepage_sections:
    get:
      tags:
      - "Homepage"
      summary: "Get All Homepage sections"
      description: "### Get information about all homepage sections.\n"
      operationId: "all_homepage_sections"
      parameters:
      - name: "fields"
        in: "query"
        description: "Requested fields."
        required: false
        type: "string"
      - name: "sorts"
        in: "query"
        description: "Fields to sort by."
        required: false
        type: "string"
      responses:
        200:
          description: "Homepage section"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/HomepageSection"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Homepage"
      x-looker-status: "beta"
    post:
      tags:
      - "Homepage"
      summary: "Create Homepage section"
      description: "### Create a new homepage section.\n"
      operationId: "create_homepage_section"
      parameters:
      - in: "body"
        name: "body"
        description: "Homepage section"
        required: false
        schema:
          $ref: "#/definitions/HomepageSection"
      - name: "fields"
        in: "query"
        description: "Requested fields."
        required: false
        type: "string"
      responses:
        200:
          description: "Homepage section"
          schema:
            $ref: "#/definitions/HomepageSection"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
        409:
          description: "Resource Already Exists"
          schema:
            $ref: "#/definitions/Error"
        422:
          description: "Validation Error"
          schema:
            $ref: "#/definitions/ValidationError"
      x-swagger-router-controller: "Homepage"
      x-looker-status: "beta"
  /homepage_sections/{homepage_section_id}:
    get:
      tags:
      - "Homepage"
      summary: "Get Homepage section"
      description: "### Get information about a homepage section.\n"
      operationId: "homepage_section"
      parameters:
      - name: "homepage_section_id"
        in: "path"
        description: "Id of homepage section"
        required: true
        type: "integer"
        format: "int64"
      - name: "fields"
        in: "query"
        description: "Requested fields."
        required: false
        type: "string"
      responses:
        200:
          description: "Homepage section"
          schema:
            $ref: "#/definitions/HomepageSection"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Homepage"
      x-looker-status: "beta"
    delete:
      tags:
      - "Homepage"
      summary: "Delete Homepage section"
      description: "### Delete a homepage section.\n"
      operationId: "delete_homepage_section"
      parameters:
      - name: "homepage_section_id"
        in: "path"
        description: "Id of homepage_section"
        required: true
        type: "integer"
        format: "int64"
      responses:
        204:
          description: "Successfully deleted."
          schema:
            type: "string"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Homepage"
      x-looker-status: "beta"
    patch:
      tags:
      - "Homepage"
      summary: "Update Homepage section"
      description: "### Update a homepage section definition.\n"
      operationId: "update_homepage_section"
      parameters:
      - name: "homepage_section_id"
        in: "path"
        description: "Id of homepage section"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "body"
        description: "Homepage section"
        required: true
        schema:
          $ref: "#/definitions/HomepageSection"
      - name: "fields"
        in: "query"
        description: "Requested fields."
        required: false
        type: "string"
      responses:
        200:
          description: "Homepage section"
          schema:
            $ref: "#/definitions/HomepageSection"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
        422:
          description: "Validation Error"
          schema:
            $ref: "#/definitions/ValidationError"
      x-swagger-router-controller: "Homepage"
      x-looker-status: "beta"
  /integration_hubs:
    get:
      tags:
      - "Integration"
      summary: "Get All Integration Hubs"
      description: "### Get information about all Integration Hubs.\n"
      operationId: "all_integration_hubs"
      parameters:
      - name: "fields"
        in: "query"
        description: "Requested fields."
        required: false
        type: "string"
      responses:
        200:
          description: "Integration Hub"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/IntegrationHub"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Integration"
      x-looker-status: "beta"
    post:
      tags:
      - "Integration"
      summary: "Create Integration Hub"
      description: "### Create a new Integration Hub.\n"
      operationId: "create_integration_hub"
      parameters:
      - in: "body"
        name: "body"
        description: "Integration Hub"
        required: false
        schema:
          $ref: "#/definitions/IntegrationHub"
      - name: "fields"
        in: "query"
        description: "Requested fields."
        required: false
        type: "string"
      responses:
        200:
          description: "Integration Hub"
          schema:
            $ref: "#/definitions/IntegrationHub"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
        409:
          description: "Resource Already Exists"
          schema:
            $ref: "#/definitions/Error"
        422:
          description: "Validation Error"
          schema:
            $ref: "#/definitions/ValidationError"
      x-swagger-router-controller: "Integration"
      x-looker-status: "beta"
  /integration_hubs/{integration_hub_id}:
    get:
      tags:
      - "Integration"
      summary: "Get Integration Hub"
      description: "### Get information about a Integration Hub.\n"
      operationId: "integration_hub"
      parameters:
      - name: "integration_hub_id"
        in: "path"
        description: "Id of Integration Hub"
        required: true
        type: "integer"
        format: "int64"
      - name: "fields"
        in: "query"
        description: "Requested fields."
        required: false
        type: "string"
      responses:
        200:
          description: "Integration Hub"
          schema:
            $ref: "#/definitions/IntegrationHub"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Integration"
      x-looker-status: "beta"
    delete:
      tags:
      - "Integration"
      summary: "Delete Integration Hub"
      description: "### Delete a Integration Hub.\n"
      operationId: "delete_integration_hub"
      parameters:
      - name: "integration_hub_id"
        in: "path"
        description: "Id of integration_hub"
        required: true
        type: "integer"
        format: "int64"
      responses:
        204:
          description: "Successfully deleted."
          schema:
            type: "string"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Integration"
      x-looker-status: "beta"
    patch:
      tags:
      - "Integration"
      summary: "Update Integration Hub"
      description: "### Update a Integration Hub definition.\n"
      operationId: "update_integration_hub"
      parameters:
      - name: "integration_hub_id"
        in: "path"
        description: "Id of Integration Hub"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "body"
        description: "Integration Hub"
        required: true
        schema:
          $ref: "#/definitions/IntegrationHub"
      - name: "fields"
        in: "query"
        description: "Requested fields."
        required: false
        type: "string"
      responses:
        200:
          description: "Integration Hub"
          schema:
            $ref: "#/definitions/IntegrationHub"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
        422:
          description: "Validation Error"
          schema:
            $ref: "#/definitions/ValidationError"
      x-swagger-router-controller: "Integration"
      x-looker-status: "beta"
  /integration_hubs/{integration_hub_id}/accept_legal_agreement:
    post:
      tags:
      - "Integration"
      summary: "Accept Integration Hub Legal Agreement"
      description: "Accepts the legal agreement for a given integration hub. This\
        \ only works for integration hubs that have legal_agreement_required set to\
        \ true and legal_agreement_signed set to false."
      operationId: "accept_integration_hub_legal_agreement"
      parameters:
      - name: "integration_hub_id"
        in: "path"
        description: "Id of integration_hub"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "Integration hub"
          schema:
            $ref: "#/definitions/IntegrationHub"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
        422:
          description: "Validation Error"
          schema:
            $ref: "#/definitions/ValidationError"
      x-swagger-router-controller: "Integration"
      x-looker-status: "beta"
  /integrations:
    get:
      tags:
      - "Integration"
      summary: "Get All Integrations"
      description: "### Get information about all Integrations.\n"
      operationId: "all_integrations"
      parameters:
      - name: "fields"
        in: "query"
        description: "Requested fields."
        required: false
        type: "string"
      - name: "integration_hub_id"
        in: "query"
        description: "Filter to a specific provider"
        required: false
        type: "string"
      responses:
        200:
          description: "Integration"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Integration"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Integration"
      x-looker-status: "beta"
  /integrations/{integration_id}:
    get:
      tags:
      - "Integration"
      summary: "Get Integration"
      description: "### Get information about a Integration.\n"
      operationId: "integration"
      parameters:
      - name: "integration_id"
        in: "path"
        description: "Id of Integration"
        required: true
        type: "integer"
        format: "int64"
      - name: "fields"
        in: "query"
        description: "Requested fields."
        required: false
        type: "string"
      responses:
        200:
          description: "Integration"
          schema:
            $ref: "#/definitions/Integration"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Integration"
      x-looker-status: "beta"
    patch:
      tags:
      - "Integration"
      summary: "Update Integration"
      description: "### Update parameters on a Integration.\n"
      operationId: "update_integration"
      parameters:
      - name: "integration_id"
        in: "path"
        description: "Id of Integration"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "body"
        description: "Integration"
        required: true
        schema:
          $ref: "#/definitions/Integration"
      - name: "fields"
        in: "query"
        description: "Requested fields."
        required: false
        type: "string"
      responses:
        200:
          description: "Integration"
          schema:
            $ref: "#/definitions/Integration"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
        422:
          description: "Validation Error"
          schema:
            $ref: "#/definitions/ValidationError"
      x-swagger-router-controller: "Integration"
      x-looker-status: "beta"
  /integrations/{integration_id}/form:
    post:
      tags:
      - "Integration"
      summary: "Fetch Remote Integration Form"
      description: "Returns the Integration form for presentation to the user."
      operationId: "fetch_integration_form"
      parameters:
      - name: "integration_id"
        in: "path"
        description: "Id of Integration"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "Data Action Form"
          schema:
            $ref: "#/definitions/DataActionForm"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
        422:
          description: "Validation Error"
          schema:
            $ref: "#/definitions/ValidationError"
      x-swagger-router-controller: "Integration"
      x-looker-status: "beta"
  /integrations/{integration_id}/test:
    post:
      tags:
      - "Integration"
      summary: "Test integration"
      description: "Tests the integration to make sure all the settings are working."
      operationId: "test_integration"
      parameters:
      - name: "integration_id"
        in: "path"
        description: "Id of Integration"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "Test Result"
          schema:
            $ref: "#/definitions/IntegrationTestResult"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
        422:
          description: "Validation Error"
          schema:
            $ref: "#/definitions/ValidationError"
      x-swagger-router-controller: "Integration"
      x-looker-status: "beta"
  /ldap_config:
    get:
      tags:
      - "Auth"
      summary: "Get LDAP Configuration"
      description: "### Get the LDAP configuration.\n\nLooker can be optionally configured\
        \ to authenticate users against an Active Directory or other LDAP directory\
        \ server.\nLDAP setup requires coordination with an administrator of that\
        \ directory server.\n\nOnly Looker administrators can read and update the\
        \ LDAP configuration.\n\nConfiguring LDAP impacts authentication for all users.\
        \ This configuration should be done carefully.\n\nLooker maintains a single\
        \ LDAP configuration. It can be read and updated.       Updates only succeed\
        \ if the new state will be valid (in the sense that all required fields are\
        \ populated);       it is up to you to ensure that the configuration is appropriate\
        \ and correct).\n\nLDAP is enabled or disabled for Looker using the **enabled**\
        \ field.\n\nLooker will never return an **auth_password** field. That value\
        \ can be set, but never retrieved.\n\nSee the [Looker LDAP docs](https://www.looker.com/docs/r/api/ldap_setup)\
        \ for additional information.\n"
      operationId: "ldap_config"
      parameters: []
      responses:
        200:
          description: "LDAP Configuration."
          schema:
            $ref: "#/definitions/LDAPConfig"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Auth"
      x-looker-status: "stable"
    patch:
      tags:
      - "Auth"
      summary: "Update LDAP Configuration"
      description: "### Update the LDAP configuration.\n\nConfiguring LDAP impacts\
        \ authentication for all users. This configuration should be done carefully.\n\
        \nOnly Looker administrators can read and update the LDAP configuration.\n\
        \nLDAP is enabled or disabled for Looker using the **enabled** field.\n\n\
        It is **highly** recommended that any LDAP setting changes be tested using\
        \ the APIs below before being set globally.\n\nSee the [Looker LDAP docs](https://www.looker.com/docs/r/api/ldap_setup)\
        \ for additional information.\n"
      operationId: "update_ldap_config"
      parameters:
      - in: "body"
        name: "body"
        description: "LDAP Config"
        required: true
        schema:
          $ref: "#/definitions/LDAPConfig"
      responses:
        200:
          description: "New state for LDAP Configuration."
          schema:
            $ref: "#/definitions/LDAPConfig"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
        422:
          description: "Validation Error"
          schema:
            $ref: "#/definitions/ValidationError"
      x-swagger-router-controller: "Auth"
      x-looker-status: "stable"
  /ldap_config/test_auth:
    put:
      tags:
      - "Auth"
      summary: "Test LDAP Auth"
      description: "### Test the connection authentication settings for an LDAP configuration.\n\
        \nThis tests that the connection is possible and that a 'server' account to\
        \ be used by Looker can       authenticate to the LDAP server given connection\
        \ and authentication information.\n\n**connection_host**, **connection_port**,\
        \ and **auth_username**, are required.       **connection_tls** and **auth_password**\
        \ are optional.\n\nExample:\n```json\n{\n  \"connection_host\": \"ldap.example.com\"\
        ,\n  \"connection_port\": \"636\",\n  \"connection_tls\": true,\n  \"auth_username\"\
        : \"cn=looker,dc=example,dc=com\",\n  \"auth_password\": \"secret\"\n}\n```\n\
        \nLooker will never return an **auth_password**. If this request omits the\
        \ **auth_password** field, then       the **auth_password** value from the\
        \ active config (if present) will be used for the test.\n\nThe active LDAP\
        \ settings are not modified.\n\n"
      operationId: "test_ldap_config_auth"
      parameters:
      - in: "body"
        name: "body"
        description: "LDAP Config"
        required: true
        schema:
          $ref: "#/definitions/LDAPConfig"
      responses:
        200:
          description: "Result info."
          schema:
            $ref: "#/definitions/LDAPConfigTestResult"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
        422:
          description: "Validation Error"
          schema:
            $ref: "#/definitions/ValidationError"
      x-swagger-router-controller: "Auth"
      x-looker-status: "stable"
  /ldap_config/test_connection:
    put:
      tags:
      - "Auth"
      summary: "Test LDAP Connection"
      description: "### Test the connection settings for an LDAP configuration.\n\n\
        This tests that the connection is possible given a connection_host and connection_port.\n\
        \n**connection_host** and **connection_port** are required. **connection_tls**\
        \ is optional.\n\nExample:\n```json\n{\n  \"connection_host\": \"ldap.example.com\"\
        ,\n  \"connection_port\": \"636\",\n  \"connection_tls\": true\n}\n```\n\n\
        No authentication to the LDAP server is attempted.\n\nThe active LDAP settings\
        \ are not modified.\n"
      operationId: "test_ldap_config_connection"
      parameters:
      - in: "body"
        name: "body"
        description: "LDAP Config"
        required: true
        schema:
          $ref: "#/definitions/LDAPConfig"
      responses:
        200:
          description: "Result info."
          schema:
            $ref: "#/definitions/LDAPConfigTestResult"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
        422:
          description: "Validation Error"
          schema:
            $ref: "#/definitions/ValidationError"
      x-swagger-router-controller: "Auth"
      x-looker-status: "stable"
  /ldap_config/test_user_auth:
    put:
      tags:
      - "Auth"
      summary: "Test LDAP User Auth"
      description: "### Test the user authentication settings for an LDAP configuration.\n\
        \nThis test accepts a full LDAP configuration along with a username/password\
        \ pair and attempts to       authenticate the user with the LDAP server. The\
        \ configuration is validated before attempting the       authentication.\n\
        \nLooker will never return an **auth_password**. If this request omits the\
        \ **auth_password** field, then       the **auth_password** value from the\
        \ active config (if present) will be used for the test.\n\n**test_ldap_user**\
        \ and **test_ldap_password** are required.\n\nThe active LDAP settings are\
        \ not modified.\n\n"
      operationId: "test_ldap_config_user_auth"
      parameters:
      - in: "body"
        name: "body"
        description: "LDAP Config"
        required: true
        schema:
          $ref: "#/definitions/LDAPConfig"
      responses:
        200:
          description: "Result info."
          schema:
            $ref: "#/definitions/LDAPConfigTestResult"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
        422:
          description: "Validation Error"
          schema:
            $ref: "#/definitions/ValidationError"
      x-swagger-router-controller: "Auth"
      x-looker-status: "stable"
  /ldap_config/test_user_info:
    put:
      tags:
      - "Auth"
      summary: "Test LDAP User Info"
      description: "### Test the user authentication settings for an LDAP configuration\
        \ without authenticating the user.\n\nThis test will let you easily test the\
        \ mapping for user properties and roles for any user without      needing\
        \ to authenticate as that user.\n\nThis test accepts a full LDAP configuration\
        \ along with a username and attempts to find the full info      for the user\
        \ from the LDAP server without actually authenticating the user. So, user\
        \ password is not      required.The configuration is validated before attempting\
        \ to contact the server.\n\n**test_ldap_user** is required.\n\nThe active\
        \ LDAP settings are not modified.\n\n"
      operationId: "test_ldap_config_user_info"
      parameters:
      - in: "body"
        name: "body"
        description: "LDAP Config"
        required: true
        schema:
          $ref: "#/definitions/LDAPConfig"
      responses:
        200:
          description: "Result info."
          schema:
            $ref: "#/definitions/LDAPConfigTestResult"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
        422:
          description: "Validation Error"
          schema:
            $ref: "#/definitions/ValidationError"
      x-swagger-router-controller: "Auth"
      x-looker-status: "stable"
  /legacy_features:
    get:
      tags:
      - "Config"
      summary: "Get All Legacy Features"
      description: "### Get all legacy features.\n"
      operationId: "all_legacy_features"
      parameters: []
      responses:
        200:
          description: "Legacy Feature"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/LegacyFeature"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Config"
      x-looker-status: "stable"
  /legacy_features/{legacy_feature_id}:
    get:
      tags:
      - "Config"
      summary: "Get Legacy Feature"
      description: "### Get information about the legacy feature with a specific id.\n"
      operationId: "legacy_feature"
      parameters:
      - name: "legacy_feature_id"
        in: "path"
        description: "id of legacy feature"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "Legacy Feature"
          schema:
            $ref: "#/definitions/LegacyFeature"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Config"
      x-looker-status: "stable"
    patch:
      tags:
      - "Config"
      summary: "Update Legacy Feature"
      description: "### Update information about the legacy feature with a specific\
        \ id.\n"
      operationId: "update_legacy_feature"
      parameters:
      - name: "legacy_feature_id"
        in: "path"
        description: "id of legacy feature"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "body"
        description: "Legacy Feature"
        required: true
        schema:
          $ref: "#/definitions/LegacyFeature"
      responses:
        200:
          description: "Legacy Feature"
          schema:
            $ref: "#/definitions/LegacyFeature"
        400:
          description: "Bad Request"
          schema:
[...]
